  <div class="h-screen d-flex">
    <div class="d-none d-lg-flex w-50 login_img_section justify-content-around align-items-center">
      <div class="bg-black opacity-20 position-absolute inset-0"></div>
      <div class="text-center text-white mx-auto px-4">
        <h1 class="font-weight-bold display-4">Gerencie suas Consultas de um jeito fácil e prático</h1>
        <p class="mt-2">Fácil usabilidade</p>
        <div class="mt-4">
          <button class="btn btn-primary text-indigo-800 me-3">Sou Colaborador</button>
          <button class="btn btn-primary text-indigo-800">Sou paciente</button>
        </div>
      </div>
    </div>
  <!-- Modal login paciente -->
  <div id="registerPaciente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerPacienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> <!-- Ajuste a largura da modal aqui -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerPacienteLabel">Olá, seja bem vindo! <br> Cadastre-se aqui</h5>
        </div>
        <div class="modal-body">
          <app-register></app-register>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal login medico -->
  <div id="createConsultaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createConsultaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> <!-- Ajuste a largura da modal aqui -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createConsultaModalLabel">Marcar Nova Consulta</h5>
        </div>
        <div class="modal-body">
          <app-register></app-register>
        </div>
      </div>
    </div>
  </div>


    <div class="w-100 d-flex justify-content-center align-items-center bg-white">
      <div class="w-75 px-4">
        <h1 class="text-gray-800 font-weight-bold mb-2">Olá novamente!</h1>
        <form class="bg-white p-4">
          <p class="text-gray-600 mb-4">Login como Colaborador</p>
          <div class="mb-4 floating-label form-group d-flex align-items-center border rounded-2xl p-2" style="border-radius: 1rem;">
            <input class="form-control rounded form-control border-0" type="text" placeholder="CRM ou CPF" required>
            <i class="fas fa-id-badge fa-lg me-2"></i>
          </div>

          <div class="d-flex align-items-center mt-4">
            <input class="form-check-input me-2" type="radio" name="userType" id="medico" value="1" checked>
            <label class="form-check-label" for="medico">Médico</label>
            <input class="form-check-input ms-4 me-2" type="radio" name="userType" id="admin" value="2">
            <label class="form-check-label" for="admin">Administrador</label>
          </div>

          <a href="/dashboard" type="submit" class="btn btn-primary mt-4 w-100">Entrar</a>
        </form>
        <div class="mt-3 d-flex justify-content-between">
          <button (click)="openRegisterPacienteModal()" class="btn btn-link">Não tem conta? Cadastre-se</button>
        </div>
      </div>
    </div>
  </div>
