/* Estilo para o footer */
.main-footer {
  background-color: #f8f9fa; /* Cor de fundo opcional para o footer */
  border-top: 1px solid #e4e4e4; /* Borda superior opcional */
  padding: 10px 20px; /* Espaçamento interno */
  position: absolute;
  bottom: 0;
  width: auto; /* Faz com que o footer ocupe toda a largura da tela */
  text-align: center; /* Centraliza o texto horizontalmente */
}
