<nav class="p-5 bg-primary-opacity-25">
  <div class="container-fluid">
    <div class="bg-body mb-4 p-3 rounded">
      <h1 class="mb-4">Consultas</h1>
      <button (click)="openCreateConsultasModal()" class="mb-3 btn-primary btn-xs btn btn-create float-right b" data-toggle="modal" data-target="#createConsultaModal">
        <i class="fas fa-plus"></i>
        <span style="margin-left: 1rem;" class="d-none ml-3 d-lg-inline ml-2">Marcar uma nova consulta</span>
      </button>

      <div class="d-none d-md-flex input-group w-auto my-auto">
        <input autocomplete="off" type="search" class="form-control rounded" placeholder="Buscar Status" style="min-width: 225px" />
        <button (click)="search()" class="bg-primary input-group-text text-white border">
          <i style="color: black;" class="fas fa-search"></i>
        </button>
      </div>
    </div>

  </div>

  <!-- Modal Structure -->
<div id="createConsultaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createConsultaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"> <!-- Ajuste a largura da modal aqui -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createConsultaModalLabel">Marcar Nova Consulta</h5>
      </div>
      <div class="modal-body">
        <app-create-consultas></app-create-consultas>
      </div>
    </div>
  </div>
</div>


  <div class="container-fluid">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ordem</th>
          <th scope="col">Nome</th>
          <th scope="col">Situação</th>
          <th scope="col">Data/Hora</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Pedro</td>
          <td>  <p class="bg-success text-white rounded-pill px-3 py-1 mb-0">concluída</p></td>
          <td>20/09/2024</td>
          <td>
            <div class="d-flex align-items-center">
              <button title="Excluir" (click)="remove()" class="btn btn-outline-danger btn-sm me-2">
                <i class="fas fa-trash"></i>
              </button>
              <button title="Editar" (click)="update()" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </td>

        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Pedro</td>
          <td>
            <p class="bg-warning text-white rounded-pill px-3 py-1 mb-0">não concluída</p>
          </td>

          <td>20/09/2024</td>
          <td>
            <div class="d-flex align-items-center">
              <button title="Excluir" (click)="remove()" class="btn btn-outline-danger btn-sm me-2">
                <i class="fas fa-trash"></i>

              </button>
              <button title="Editar" (click)="update()"  class="btn btn-outline-primary btn-sm">
                <i class="fas fa-edit"></i>

              </button>
            </div>
          </td>

        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Pedro</td>
          <td> <p class="bg-danger text-white rounded-pill px-3 py-1 mb-0">cancelada</p></td>
          <td>20/09/2024</td>
          <td>
            <div class="d-flex align-items-center">
              <button title="Excluir" (click)="remove()" class="btn btn-outline-danger btn-sm me-2">
                <i class="fas fa-trash"></i>

              </button>
              <button title="Editar" (click)="update()" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-edit"></i>

              </button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</nav>
