#wrapper {
    display: flex;
    align-items: stretch;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    flex: 1;
  }

  #menu-toggle {
    margin-left: auto;
  }
  .form-container {
    border: 4px solid #075EA2;
    border-radius: 8px;
    padding: 20px;
  }

  .register-form {
    margin-top: 5vh;
    min-height: 70vh;
  }
