.navbar-logo {
  background-image: url('/src/assets/logo.png'); // Caminho relativo à pasta src
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 150px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
}
