
body, html {
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}

.main-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e4e4e4;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
