<div class="card p-5">
  <div class="fixe-top start-end">
    <app-filters></app-filters>
  </div>
  <div *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fas fa-calendar-day me-2"></i>
              <h5 class="mb-0">Consulta Nº {{ idConsulta }}</h5>
            </div>
            <span class="badge"
              [ngClass]="{'bg-success': valorConsulta && valorConsulta > 0, 'bg-danger': valorConsulta && valorConsulta <= 0}">
              R$ {{ valorConsulta && valorConsulta > 0 ? valorConsulta : -+""+valorConsulta }}            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <p class="card-text"><strong>Paciente:</strong> <br>{{ paciente }}</p>
                <p class="card-text"><strong>Médico:</strong> <br>{{ medico }}</p>
                <a (click)="seeDetails()" class="btn btn-primary fixed-botton">Detalhes</a>
              </div>
              <div class="col-md-6">
                <p class="card-text"><strong>Data:</strong> <br>{{ dataConsulta }}</p>
                <p class="card-text"><strong>Motivo:</strong> <br>{{ motivoConsulta }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fas fa-calendar-day me-2"></i>
              <h5 class="mb-0">Consulta Nº {{ idConsulta }}</h5>
            </div>
            <span class="badge"
              [ngClass]="{'bg-success': valorConsulta && valorConsulta > 0, 'bg-danger': valorConsulta && valorConsulta <= 0}">
              R$ {{ valorConsulta && valorConsulta > 0 ? valorConsulta : -+""+valorConsulta }}
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <p class="card-text"><strong>Paciente:</strong> <br>{{ paciente }}</p>
                <p class="card-text"><strong>Médico:</strong> <br>{{ medico }}</p>
                <a (click)="seeDetails()" class="btn btn-primary fixed-botton">Detalhes</a>
              </div>
              <div class="col-md-6">
                <p class="card-text"><strong>Data:</strong> <br>{{ dataConsulta }}</p>
                <p class="card-text"><strong>Motivo:</strong><br> {{ motivoConsulta }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fas fa-calendar-day me-2"></i>
              <h5 class="mb-0">Consulta Nº {{ idConsulta }}</h5>
            </div>
            <span class="badge"
              [ngClass]="{'bg-success': valorConsulta && valorConsulta > 0, 'bg-danger': valorConsulta && valorConsulta <= 0}">
              R${{ valorConsulta && valorConsulta > 0 ? valorConsulta : -+""+valorConsulta }}            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <p class="card-text"><strong>Paciente:</strong> <br>{{ paciente }}</p>
                <p class="card-text"><strong>Médico:</strong> <br>{{ medico }}</p>
                <a (click)="seeDetails()" class="btn btn-primary fixed-botton">Detalhes</a>
              </div>
              <div class="col-md-6">
                <p class="card-text"><strong>Data:</strong> <br>{{ dataConsulta }}</p>
                <p class="card-text"><strong>Motivo:</strong> <br>{{ motivoConsulta }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
