<div class="card p-5">
    <div class="fixe-top start-end">
      <app-filters></app-filters>
    </div>
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <div class="container">
        <div class="row w-auto mt-5 mb-5">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm border-primary">
              <div class="card-header bg-primary text-white">
                Consulta Médica
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="card-title mb-3">Detalhes da Consulta</h5>
                    <ul class="list-unstyled">
                      <li class="mb-2">
                        <strong>Paciente: </strong> <span>Nome do Paciente</span>
                      </li>
                      <li class="mb-2">
                        <strong>Médico: </strong> <span>Nome do Médico</span>
                      </li>
                      <li class="mb-2">
                        <strong>Data: </strong> <span>20/09/2024</span>
                      </li>
                      <li class="mb-2">
                        <strong>Motivo: </strong> <span>Motivo da Consulta</span>
                      </li>
                      <li class="mb-2">
                        <strong>Valor: </strong> <span>R$250,00</span>
                      </li>
                    </ul>
                  </div>
                  <!-- Status e Botão -->
                  <div class="col-md-4">
                    <h5 class="card-title mb-3">Status</h5>
                    <div class="d-flex flex-column align-items-start">
                      <span class="badge bg-success text-white rounded-pill mb-2">Concluída</span>
                      <a (click)="seeDetails()" class="btn btn-primary fixed-botton">Detalhes</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                Informações atualizadas em <span>20/09/2024</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm border-primary">
              <div class="card-header bg-primary text-white">
                Consulta Médica
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="card-title mb-3">Detalhes da Consulta</h5>
                    <ul class="list-unstyled">
                      <li class="mb-2">
                        <strong>Paciente: </strong> <span>Nome do Paciente</span>
                      </li>
                      <li class="mb-2">
                        <strong>Médico: </strong> <span>Nome do Médico</span>
                      </li>
                      <li class="mb-2">
                        <strong>Data: </strong> <span>20/09/2024</span>
                      </li>
                      <li class="mb-2">
                        <strong>Motivo: </strong> <span>Motivo da Consulta</span>
                      </li>
                      <li class="mb-2">
                        <strong>Valor: </strong> <span>R$250,00</span>
                      </li>
                    </ul>
                  </div>
                  <!-- Status e Botão -->
                  <div class="col-md-4">
                    <h5 class="card-title mb-3">Status</h5>
                    <div class="d-flex flex-column align-items-start">
                      <span class="badge bg-success text-white rounded-pill mb-2">Concluída</span>
                      <a (click)="seeDetails()" class="btn btn-primary fixed-botton">Detalhes</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                Informações atualizadas em <span>20/09/2024</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm border-primary">
              <div class="card-header bg-primary text-white">
                Consulta Médica
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="card-title mb-3">Detalhes da Consulta</h5>
                    <ul class="list-unstyled">
                      <li class="mb-2">
                        <strong>Paciente: </strong> <span>Nome do Paciente</span>
                      </li>
                      <li class="mb-2">
                        <strong>Médico: </strong> <span>Nome do Médico</span>
                      </li>
                      <li class="mb-2">
                        <strong>Data: </strong> <span>20/09/2024</span>
                      </li>
                      <li class="mb-2">
                        <strong>Motivo: </strong> <span>Motivo da Consulta</span>
                      </li>
                      <li class="mb-2">
                        <strong>Valor: </strong> <span>R$250,00</span>
                      </li>
                    </ul>
                  </div>
                  <!-- Status e Botão -->
                  <div class="col-md-4">
                    <h5 class="card-title mb-3">Status</h5>
                    <div class="d-flex flex-column align-items-start">
                      <span class="badge bg-success text-white rounded-pill mb-2">Concluída</span>
                      <a (click)="seeDetails()" class="btn btn-primary fixed-botton">Detalhes</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                Informações atualizadas em <span>20/09/2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
