/* Adicionar uma sombra ao botão */
.btn-primary {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão de opções de horários */
.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
