<nav class="p-5 bg-primary-opacity-25">
  <div class="container-fluid">

    <div class="bg-body mb-4 p-3 rounded">
      <h1 class="mb-4">Medico</h1>
      <div class="d-none d-md-flex input-group w-auto my-auto">
        <input autocomplete="off" type="search" class="form-control rounded" placeholder="Buscar Medicos" style="min-width: 225px" />
        <button (click)="search()" class="bg-primary input-group-text text-white border">
          <i style="color: black;" class="fas fa-search"></i>
        </button>
      </div>
    </div>

  </div>
  <div *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ordem</th>
          <th scope="col">Nome</th>
          <th scope="col">Situação</th>
          <th scope="col">Data/Hora</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Pedro</td>
          <td>  <p class="bg-success text-white rounded-pill px-3 py-1 mb-0">concluída</p></td>
          <td>20/09/2024</td>
          <td>
            <div class="d-flex align-items-center">
              <button title="Excluir" (click)="remove()" class="btn btn-outline-danger btn-sm me-2">
                <i class="fas fa-trash"></i>

              </button>
              <button title="Editar" (click)="update()" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-edit"></i>

              </button>
            </div>
          </td>

        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Pedro</td>
          <td>
            <p class="bg-warning text-white rounded-pill px-3 py-1 mb-0">não concluída</p>
          </td>

          <td>20/09/2024</td>
          <td>
            <div class="d-flex align-items-center">
              <button title="Excluir" (click)="remove()" class="btn btn-outline-danger btn-sm me-2">
                <i class="fas fa-trash"></i>

              </button>
              <button title="Editar" (click)="update()"  class="btn btn-outline-primary btn-sm">
                <i class="fas fa-edit"></i>

              </button>
            </div>
          </td>

        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Pedro</td>
          <td> <p class="bg-danger text-white rounded-pill px-3 py-1 mb-0">cancelada</p></td>
          <td>20/09/2024</td>
          <td>
            <div class="d-flex align-items-center">
              <button title="Excluir" (click)="remove()" class="btn btn-outline-danger btn-sm me-2">
                <i class="fas fa-trash"></i>

              </button>
              <button title="Editar" (click)="update()" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-edit"></i>

              </button>
            </div>
          </td>

        </tr>

      </tbody>
    </table>
  </div>
</nav>
