
<section class="register-form">
  <div class="fanpage-index p-5 d-flex flex-column">
    <div class="cw cw__icon p-4 form-container" style="color: #212529">
        <div class="cw__header mb-4 px-2" style="margin-top: 0.6rem;">
            <div class="card_icon cw__icon--format is-primary">
                <i style="color: #075EA2;" class="far fa-user fa-2x mr-1"></i>
                <h3 style="color: #075EA2;">Cadastro de paciente</h3>
            </div>
        </div>
        <form class="form-company p-4">
          <div class="row mb-3 mt-2">
            <div class="col-lg-7 col-md-5 mb-3">
              <div class="floating-label form-group">
                <label class="px-2" for="nomePaciente">Nome Completo<strong class="text-danger">*</strong></label>
                  <input type="text" class="form-control" id="nomePaciente" name="nomePaciente"
                         placeholder="Digite seu nome ">
              </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="floating-label form-group">
              <label class="px-2" for="cpfPaciente">CPF <strong class="text-danger">*</strong></label>
                <input type="text" class="form-control" id="cpfPaciente" (input)="maskCpf($event)" name="cpfPaciente"
                       placeholder="Digite seu CPF">
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mb-3">
            <div class="floating-label form-group">
              <label class="px-2" for="dataNascimento">Data de Nascimento <strong class="text-danger">*</strong></label>
                <input type="date" class="form-control" id="dataNascimento" name="dataNascimento"
                       placeholder="Escolha aqui a data">
            </div>
          </div>
          <div class="col-lg-7 col-md-5 mb-3">
            <div class="floating-label form-group select-floating">
              <label class="px-2" for="sexoPaciente">Sexo paciente <strong class="text-danger">*</strong></label>
               <select class="form-select rounded" id="sexoPaciente" name="sexoPaciente" autocomplete="off" >
                  <option value="" selected disabled hidden>Selecione o sexo</option>
                  <option value="f">Feminino</option>
                  <option value="m">Masculino</option>
                </select>
              </div>
          </div>
          <div class="col-lg-12 d-flex mt-4 justify-content-center gap-3">
            <div class="col-md-3 mb-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault1">
                <label class="form-check-label" value="plan1" for="flexSwitchCheckDefault1">Possui plano</label>
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault2">
                <label class="form-check-label" value="plan2" for="flexSwitchCheckDefault2">Outro Check</label>
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault3">
                <label class="form-check-label" value="plan3" for="flexSwitchCheckDefault3">Outro Check</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-start">
          <div class="mt-3">
            <button type="submit" class="btn btn-base btn-success" id="formSubmit">Salvar</button>
            <a class="btn btn-base btn-outline-secondary" style="margin-left: 8px;" href="/login">Cancelar</a>
          </div>
        </div>
      </form>

    </div>

  </div>
</section>

